.sixMaskContainer {
  margin-top: 48px;
  width: 389.59px;
  height: 128px;
  display: flex;
  flex-direction: row;
  padding: 0px 16px;
  gap: 10px 10px;
  flex-wrap: wrap;

  .MaskItem {
    width: 108.53px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 0px 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    letter-spacing: normal;
    color: #374151;
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)),
      rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    transition: transform 0.6s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &.flipping {
      animation: flipAndReplace 0.6s ease-in-out forwards;
    }
  }

  @keyframes flipAndReplace {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
}
